<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css" />
<head>
  <title>Clients</title>

</head>
<body>
    <button class="home-button" onclick="location.href='/'">Home</button>

    <div class="options-panel">
    <form action="/sortClients" method="POST">
        <fieldset>
            <h3>Franchises</h1>
            <div class="d-flex flex-row align-items-center">
            <input class="input-checkbox" type="checkbox" id="lafayette" name="lafayette">
            <label for="laf">Lafayette</label><br>
            </div>
            <div class="d-flex flex-row align-items-center">
            <input class="input-checkbox" type="checkbox" id="batonrouge" name="batonrouge">
            <label for="br">Baton Rouge</label><br>
            </div>
            <div class="d-flex flex-row align-items-center">
                <input class="input-checkbox" type="checkbox" id="neworleans" name="neworleans">
                <label for="nola">New Orleans</label><br>
            </div>
            <br>
            <input id="employeeSubmit" type="submit" name="submit" value="Submit">
            </div>
        </fieldset>
    </form>
    </div>
        <h2 class="textAlignC">Clients</h2>
        <table class="center-table" border="1">
            <tr>
                <th>Client ID#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Modify</th>
            </tr>

            <%
            if(employeeData.length!=0){
            employeeData.forEach(function(data){
            %>
            <tr>

                <td id="idCell"><%=data.ClientID %></td>
                <td><%=data.Fname %> <%=data.Lname %></td>
                <td><%=data.Email %></td>
                <td><%=data.PhoneNumber %></td>
																<td id="editCell"><a href="/edit/Clients/<%=data.ClientID%>">Edit</a>
            </tr>
            <% }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data</td>
                </tr>
            <% } %>
        </table>
</body>
</html>
