<html>
		<link rel="stylesheet" href="/css/style.css" />
		<body>
				<div style="margin: auto; width: 50%; padding: 10px; border: 3px solid #efefef;">
						<h1 style="text-align: center;">Are you sure you want to delete this job?</h1>
						<p>Date: <%=jobData.Month%>-<%=jobData.Day%>-<%=jobData.jYear%></p>
						<p>First Address: <%=jobData.OriginalStreetAddress%>, <%=jobData.OriginalCity%></p>
						<p>Destination Address: <%=jobData.DestinationStreetAddress%>, <%=jobData.DestinationCity%></p>
						<div style="margin: auto; width: 10%;">
								<form action="/deleteJob?id=<%=jobData.JobID%>" method="POST" id="confirmationForm">
										<input style="width: 50%;" type="submit" name="submit" value="Yes" form="confirmationForm">
								</form>
										<button style="width: 50%;" onclick="history.back()">No</button>
						</div>
				</div>
		</body>
		<script>
				function deleteJob(){
						console.log("delete");
				}
		</script>


</html>
