<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css" />
<head>
  <title>Jobs</title>
</head>
<body>
    <button class="home-button" onclick="location.href='/'">Home</button>

    <div class="options-panel">
    <form action="/sortJobs" method="POST">
        <fieldset>
            <h3>Franchises</h1>
            <input type="checkbox" id="lafayette" name="lafayette">Lafayette<br>
            <input type="checkbox" id="batonrouge" name="batonrouge">Baton Rouge<br>
            <input type="checkbox" id="neworleans" name="neworleans">New Orleans<br>
            <h3>Year/Month</h3>
            <select name="year">
              <option value="0">All Years</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
            <select name="month">
              <option value="0">All Months</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <br><br>
            <input type="submit" name="submit" value="Submit">
        </fieldset>
    </form>
    </div>
        <h2 style="text-align: center;">Jobs</h2>
        <table class="center-table" border="1">
            <tr>
                <th>Date</th>
                <th>First Address</th>
                <th>Destination</th>
																<th>Client</th>
                <th>Modify</th>
                <th>Remove</th>

            <%
            if(employeeData.length!=0){
            var i=1;
            employeeData.forEach(function(data){
            %>
            <tr>
                <td id="jobDate"><%=data.Month %>-<%=data.Day %>-<%=data.jYear %></td>
                <td><%=data.OriginalStreetAddress %><br><%=data.OriginalCity %>, Louisiana</td>
                <td><%=data.DestinationStreetAddress %><br><%=data.DestinationCity %>, Louisiana</td>
																<td style="text-align: center;"><a href="/client_info?id=<%=data.ClientID %>">Client Info</a></td>
																<td><a id="editJob" href="/edit/jobs?id=<%=data.JobID%>">Edit</a></td>
                <td><a href="/delete_job_confirmation?id=<%=data.JobID%>">Delete</a></td>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data</td>
                </tr>
            <% } %>
        </table>
</body>
</html>
